# Logistics Regression Project on SUV Cars datasets

## The aim of this project is to predict if suv will have more buyers in the future

##### Step 1 : Load the SUV dataset

In [24]:
import pandas as pd  # I am importing pandas to handle data loading and manipulation

data = pd.read_csv('suv_data.csv') # I am reading the Excel file into a pandas DataFrame so I can work with it in Python

In [26]:
data

        User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510.0    Male  19.0          19000.0        0.0
1    15810944.0    Male  35.0          20000.0        0.0
2    15668575.0  Female  26.0          43000.0        0.0
3    15603246.0  Female  27.0          57000.0        0.0
4    15804002.0    Male  19.0          76000.0        0.0
..          ...     ...   ...              ...        ...
395  15691863.0  Female  46.0          41000.0        1.0
396  15706071.0    Male  51.0          23000.0        1.0
397  15654296.0  Female  50.0          20000.0        1.0
398  15755018.0    Male  36.0          33000.0        0.0
399  15594041.0  Female  49.0          36000.0        1.0

[400 rows x 5 columns]

 ##### Step 2: Drop unnecessary columns

In [28]:
# I am removing 'User ID' because it does not contribute to predicting purchases
data.drop(columns=['User ID'], axis=1, inplace=True)

In [14]:
data

        User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510.0    Male  19.0          19000.0        0.0
1    15810944.0    Male  35.0          20000.0        0.0
2    15668575.0  Female  26.0          43000.0        0.0
3    15603246.0  Female  27.0          57000.0        0.0
4    15804002.0    Male  19.0          76000.0        0.0
..          ...     ...   ...              ...        ...
395  15691863.0  Female  46.0          41000.0        1.0
396  15706071.0    Male  51.0          23000.0        1.0
397  15654296.0  Female  50.0          20000.0        1.0
398  15755018.0    Male  36.0          33000.0        0.0
399  15594041.0  Female  49.0          36000.0        1.0

[400 rows x 5 columns]

##### Step 3: Check the balance of the target variable 'Purchased'

In [30]:
# I am counting how many people purchased vs not purchased
data['Purchased'].value_counts()

Purchased
0.0    257
1.0    143
Name: count, dtype: int64

In [18]:
data.duplicated().sum() #I am checking for duplicates value

0

In [20]:
data.info() #I am checking for information about the dat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    float64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    float64
dtypes: float64(4), object(1)
memory usage: 15.8+ KB

In [22]:
data.describe() #I am checking for the statistics of the data

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

## Problem Statement: To predict if suv will have more buyers in the future

### Now, working on Interpretation
#### Interpretation tells us whether our data is balanced or imbalanced between buyers and non-buyers

##### Step 4: Separate the classes for balancing

In [35]:
# I am creating separate datasets for people who didn't purchase and those who did
did_not_buy = data[data['Purchased'] == 0]
did_buy = data[data['Purchased'] == 1]

##### Step 5: Equalize class sizes by random sampling

In [47]:
# I am sampling the same number from each group to avoid bias in training
did_not_buy_rows = did_not_buy.sample(n=min(len(did_not_buy), len(did_buy)), random_state=40)
did_buy_rows = did_buy.sample(n=min(len(did_not_buy), len(did_buy)), random_state=40)

In [49]:
did_not_buy_rows

     Gender   Age  EstimatedSalary  Purchased
310  Female  42.0          70000.0        0.0
266    Male  40.0          75000.0        0.0
176  Female  35.0          47000.0        0.0
359    Male  42.0          54000.0        0.0
120  Female  36.0          75000.0        0.0
..      ...   ...              ...        ...
74     Male  32.0          18000.0        0.0
263  Female  35.0          72000.0        0.0
143    Male  30.0          89000.0        0.0
127    Male  26.0          32000.0        0.0
172  Female  26.0         118000.0        0.0

[143 rows x 4 columns]

In [51]:
did_buy_rows

     Gender   Age  EstimatedSalary  Purchased
383    Male  49.0          28000.0        1.0
303    Male  37.0          79000.0        1.0
290    Male  39.0         134000.0        1.0
354    Male  36.0          99000.0        1.0
245  Female  51.0         146000.0        1.0
..      ...   ...              ...        ...
283  Female  52.0          21000.0        1.0
27   Female  47.0          30000.0        1.0
249  Female  35.0          97000.0        1.0
22     Male  48.0          41000.0        1.0
282    Male  37.0          70000.0        1.0

[143 rows x 4 columns]

##### Step 6: Combine balanced data back together

In [56]:
data = pd.concat([did_not_buy_rows, did_buy_rows], axis=0)

In [58]:
data

     Gender   Age  EstimatedSalary  Purchased
310  Female  42.0          70000.0        0.0
266    Male  40.0          75000.0        0.0
176  Female  35.0          47000.0        0.0
359    Male  42.0          54000.0        0.0
120  Female  36.0          75000.0        0.0
..      ...   ...              ...        ...
283  Female  52.0          21000.0        1.0
27   Female  47.0          30000.0        1.0
249  Female  35.0          97000.0        1.0
22     Male  48.0          41000.0        1.0
282    Male  37.0          70000.0        1.0

[286 rows x 4 columns]

##### Step 7: Encode categorical variables

In [61]:
# I am replacing text labels with numbers so the model can understand them
data['Gender'] = data['Gender'].replace(['Male', 'Female'], [0, 1])

C:\Users\dell\AppData\Local\Temp\ipykernel_4884\3135362114.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Gender'] = data['Gender'].replace(['Male', 'Female'], [0, 1])

##### Step 8: Define features (X) and target (y)

In [64]:
# I am separating predictors (Age, EstimatedSalary, Gender) from the target (Purchased)
X = data.drop('Purchased', axis=1)
y = data['Purchased']

In [66]:
X

     Gender   Age  EstimatedSalary
310       1  42.0          70000.0
266       0  40.0          75000.0
176       1  35.0          47000.0
359       0  42.0          54000.0
120       1  36.0          75000.0
..      ...   ...              ...
283       1  52.0          21000.0
27        1  47.0          30000.0
249       1  35.0          97000.0
22        0  48.0          41000.0
282       0  37.0          70000.0

[286 rows x 3 columns]

In [68]:
y

310    0.0
266    0.0
176    0.0
359    0.0
120    0.0
      ...
283    1.0
27     1.0
249    1.0
22     1.0
282    1.0
Name: Purchased, Length: 286, dtype: float64

##### Step 9: Split into training and testing sets

In [71]:
# I am splitting the data so the model learns on one part and is tested on another
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

##### Step 10: Train logistic regression model

In [74]:
# I am importing and creating a Logistic Regression model instance
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)  # I am training the model with training data

LogisticRegression()

##### Step 11: Make predictions on the test set

In [93]:
computer_prediction = lr.predict(X_test)  # I am asking the trained model to guess on unseen data

##### Step 12: Compare with original answers

In [78]:
test_actual = y_test.to_numpy()  # I am converting actual answers to a numpy array for comparison

In [80]:
test_actual

array([1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1.,
       1., 0., 0., 1., 1., 1., 0.])

##### Step 13: Evaluate results

In [85]:
# I am importing metrics to check how good the model is
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

##### Getting the Accuracy

In [91]:
logistic_accuracy = accuracy_score(test_actual, computer_prediction)  # I am measuring overall correctness
print("Accuracy:", logistic_accuracy)  # Interpretation: The closer to 1.0, the better the model

Accuracy: 0.7586206896551724

##### Getting the Confusion Matrix

In [97]:
lr_cm = confusion_matrix(test_actual, computer_prediction)  # I am checking TP, TN, FP, FN counts
print("Confusion Matrix:\n", lr_cm)
# Interpretation: Shows correct and incorrect predictions split by class

Confusion Matrix:
 [[19 10]
 [ 4 25]]

##### Classification Report

In [102]:
lr_cl = classification_report(test_actual, computer_prediction)  # I am summarizing precision, recall, and F1-score
print("Classification Report:\n", lr_cl)
# Interpretation: Precision tells how many predicted buyers were correct, recall tells how many real buyers we found

Classification Report:
               precision    recall  f1-score   support

         0.0       0.83      0.66      0.73        29
         1.0       0.71      0.86      0.78        29

    accuracy                           0.76        58
   macro avg       0.77      0.76      0.76        58
weighted avg       0.77      0.76      0.76        58

##### Model interpretation

 for Accuracy The Accuracy is 0.7586, which means (~76%)

This means 

1. My model correctly predicted ~76% of cases in the test set.

2. In this case, out of 58 people in the test set, it got about 44 right and 14 wrong.

3. A 76% accuracy is better than random guessing (50%) and suggests the model is learning useful patterns from the data.

For confusion matrix :
[[19 10]
 [ 4 25]]
This mean :
1. Top-left (19) = True Negatives, this means 19 people who did NOT buy were correctly predicted as No.

2. Top-right (10) = False Positives, this means 10 people who did NOT buy were incorrectly predicted as Yes.

3. Bottom-left (4) = False Negatives, this means 4 people who did buy were incorrectly predicted as No.

4. Bottom-right (25) = True Positives this means 25 people who did buy were correctly predicted as Yes.

So, This model is better at correctly identifying buyers (25) than it is at avoiding false alarms (10).

For Classification Report:
Class	Precision	Recall	F1-score	Support
0.0 (No Purchase)	0.83	0.66	0.73	29
1.0 (Purchase)	0.71	0.86	0.78	29
This means
1. Precision (0.83 for No, 0.71 for Yes)
For buyers (Yes = 1): When the model predicts someone will buy, it’s correct 71% of the time.
For non-buyers (No = 0): When it predicts no, it’s correct 83% of the time.

2. Recall (0.86 for Yes, 0.66 for No)
For buyers: The model catches 86% of actual buyers.
For non-buyers: It catches 66% of actual non-buyers.

3. F1-score balances precision and recall. Both classes are fairly balanced here (0.73–0.78).

What this means for my goal which is to see if SUV will have more buyers in the future. 

1. My logistic regression model is quite good at detecting actual buyers because of the high recall for 1.0
2. It sometimes predicts someone will buy when they won’t (10 false positives), which might be okay if you prefer catching as many potential buyers as possible.
3. If this were used in marketing, the model would help you target most of the people likely to buy, but you might spend resources on some who won’t.

#### By

## Ebenezer Adebiyi

### Linkedin : Ebenezer Adebiyi
### Email : Ebenezerdadebiyi@gmail.com